nav{
	background:white;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.08);
}
.card{
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.08);
	
}
.formstyle{
        margin-top: 50px;
  }
  .card-header{
  	border-bottom: 0px;
  	border-top:7px solid #f56a82;
  	background:#fff;
  	color: #acacae;
  }
  strong{

  	color:rgb(70, 89, 102);
  }
  #texto{
  	color:rgb(105, 133, 153);
  }
  .btnred{
  	background:  #f56a82;
  }
  i{
  	color:white;
  }
#info{
  margin-top: 40px;
}
#loading{
  text-align: center;
} 

/*Cambio en el ui del autocomplete*/
.ui-widget-content{
  border-radius: .25rem;
  box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.08);
  
}
.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
  background: #f56a82 !important; 
  border: solid 1px transparent; 
}

/*Dark mode*/
@media(prefers-color-scheme:dark){
  body{
    background:#1d1d1f;
    color: white;
  }

  nav{
    background:#242527;
    box-shadow: none;
  }
  #paises{
    background-color: #242527 !important;
    color:white;
  }
  .ui-menu-item{
    background-color: #242527 !important;
    color:white;

  }
  .ui-widget-content{
    border:0px solid  #242527 !important;
    box-shadow:none;
  }
  .card,.card-header{
    background:#333436;
    color:white;
  }
  .border-light{
    border:1px solid  rgba(255,255,255,0.1)!important;
  }
  strong,#texto{
    color:white;
  }

}